@using sendeoxu.Models
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="content">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <!--categories-->
                <div class="categories">
                    <h1>kateqoriyalar</h1>
                    <div class="seperator"></div>
                    <ul>
                        @foreach (Category ctg in ViewBag.category)
                        {
                            <li value="@ctg.id"><a href="@Url.Action("index","home",new {id=@ctg.id})">@ctg.kateqoriya_name</a></li>
                        }
                    </ul>
                </div>
            </div>
            <div class="col-md-6">
                <!--qaynaqlar-->
                <div class="section-center">
                    <div class="last-source">
                        <h5>Ən çox oxunan onluq</h5>
                    </div>
                    @{var count = 0;}
                    @foreach (Source src in ViewBag.mostread)
                    {
                        count++;
                        <div class="most-read-ten">
                            <div class="mostTen-body">
                                <div class="mostTen">
                                    <div class="mrt-number">
                                        @count
                                    </div>
                                    <div class="mostTen-text-header">
                                        <h3>@src.title</h3>
                                        <ul>
                                            <li class="mostTen-person">@src.User.fullname</li>
                                            <li class="mostTen-date">@src.date</li>
                                            <li class="mostTen-file">
                                                @foreach (Category ctg in ViewBag.catname)
                                                {
                                                    if (ctg.id == src.kateqoriya_id)
                                                    {
                                                        @ctg.kateqoriya_name
                                                    }
                                                }
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="mostTen-text-body">
                                        @if (src.text.Length > 307)
                                        {
                                            @Html.Raw(HttpUtility.HtmlDecode(src.text.Substring(3, 303) + "..."))
                                        }
                                        else
                                        {
                                            @Html.Raw(HttpUtility.HtmlDecode(src.text))
                                        }
                                        <a href="@Url.Action("index","read",new {id =src.id})">Ətraflı</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
            <div class="col-md-3">
                <!--user reting-->
                <div class="user-reting">
                    <h1>istifadəçi reytinqi</h1>
                    <!-- <div class="seperator"></div>-->
                    <div class="reting-slider">
                        <div class="owl-carousel owl-theme">
                            <div>
                                <div class="reting-info">
                                    <ul>
                                        @{var count2 = 0;}
                                        @foreach (User usr in ViewBag.user_reytinq)
                                        {
                                            count2++;
                                            if (count2 <= 5)
                                            {
                                                <li>
                                                    <div class="rtg-img">
                                                        <div class="rtg-img-n">
                                                            <span>@count2</span>
                                                        </div>

                                                    </div>
                                                    <a class="rtg-name">@usr.fullname</a>
                                                    <span class="rtg-num">@usr.reytinq xal</span>
                                                </li>
                                            }

                                        }
                                    </ul>
                                </div>
                            </div>
                            <div>
                                <div class="reting-info">
                                    <ul>
                                        @{var count6 = 0;}
                                        @foreach (User usr in ViewBag.user_reytinq)
                                        {
                                            count6++;
                                            if (count6 >= 6)
                                            {
                                                <li>
                                                    <div class="rtg-img">
                                                        <div class="rtg-img-n">
                                                            <span>@count6</span>
                                                        </div>

                                                    </div>
                                                    <a class="rtg-name">@usr.fullname</a>
                                                    <span class="rtg-num">@usr.reytinq xal</span>
                                                </li>
                                            }

                                        }
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
                   
 