<!DOCTYPE html>
<html lang="az">

<head>
    <title>@ViewBag.Title</title>
    <meta charset="UTF-8">
    <!--Favicon-->
    <link rel="shorcut icon" type="image/png" href="#">
    <link href="~/Content/css/font-awesome.css" rel="stylesheet">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    
    <meta name="author" content="Kamran, Polad">
    <meta name="robots" content="index,follow">
    <meta name="robots" content="all">
    <meta name="handheldfriendly" content="true">
    <meta name="googlebot" content="index,follow,all">
    <meta name="keywords" content="sendeoxu, sendeoxu.az, html, css, javascript, jquery, asp.net, java, php">
    <meta name="title" content="sendeoxu.az">
    <meta name="description" content="sendeoxu">

    <meta property="og:url" content="http://sendeoxu.az">
    <meta property="og:title" content="sendeoxu.az">
    <meta property="og:description" content="sendeoxu">
    <meta property="og:type" content="website">
    <meta property="og:url" content="http://bumeranq.org">
    <meta property="og:title" content="Bumeranq.org">
    <meta property="og:description" content="Fərqli istək sahibləri və onlara dəstək verə biləcək insanları bir araya toplayan online platforma.">
    <meta property="og:type" content="website">
    @*<meta property="og:image" content="">*@
    <meta property="og:site_name" content="sendeoxu.az">
 
    <!--owl carusel-->
    <link rel="stylesheet" href="~/Content/css/owl.carousel.min.css">
    <!-- Bootstrap -->

    <link href="~/Content/css/bootstrap.css" rel="stylesheet">
    <!-- Stylesheets -->
    <link href="~/Content/css/style.css" rel="stylesheet">
</head>

<body>
    <!-- Main Header -->
    <header>
        <!--header-upper-->
        <div class="header-upper">
            <div class="container">
                <div class="row">
    <div class="col-md-4">
        <!--Logo-->
        <div class="logo">
            <a href="../../home/index"><img src="~/Content/img/logo.png" alt="sendeoxu.az"></a>
        </div>
    </div>
    <div class="col-md-offset-6 col-md-2">
    @if (Session["user"] != null)
    {

            <!-- profil -->
        <div class="profil">
            <div id="btn-profil">
                <span>
                    <p>@Session["user_name"]</p>
                </span>

                <ul class="dropdown-menu">
                    <li><a href="@Url.Action("Logout","User")">Çıxış</a></li>
                </ul>
            </div>
        </div>
    }
    else
    {
                <!-- profil -->
                <div class="profil">
                    <div id="btn-profil" class="btn-profil1">
                        <span>
                            <p>Profil</p>
                        </span>
                    </div>
                </div>
                }
        <div id="profil-Modal" class="modal">
            <!-- Modal content -->
            <div class="row">
                <div class="col-md-offset-3 col-md-6">
                    <div class="modal-content">
                        <span class="close"><i class="fa fa-times" aria-hidden="true"></i></span>
                        <!--profil form daxil ol, qeydiyyat  -->
                        <div id="profil-form">
                            <!-- sign in  -->
                            <div class="sign-in">
                                <form class="form-horizontal" action="@Url.Action("Login","User")">
                                    <p id="message-reg" style="color:red"></p>
                                    <div class="form-group">
                                        <div class="col-sm-12">
                                            <input type="email" name="email" class="form-control" id="inputEmail3" placeholder="Email">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-12">
                                            <input type="password" name="password" class="form-control" id="inputPassword3" placeholder="Şifrə">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-12">
                                            <button type="submit" id="login" class="btn btn-default">Daxil olun</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="sign-up">
                                <a class="btn btn-default" href="@Url.Action("index","registration")" role="button">Qeydiyyat</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
                </div>
            </div>
        </div>

        <!-- nav menu  -->
        <nav class="navbar navbar-inverse">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle navbarToggle" data-toggle="collapse" data-target="#myNavbar">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand home" href="../../home/index/?page=1"><i class="fa fa-home" aria-hidden="true"></i></a>
                    <ul>
                        <li class="response320">

                        </li>
                    </ul>
                </div>
                <div class="collapse navbar-collapse" id="myNavbar">
                    @*class="nav navbar-nav nav-menu"*@
                    <ul class="nav navbar-nav nav-menu nav-ul">
                        
                        <li><a href="@Url.Action("index","MostRead")" class="ColorWhite">Ən çox oxunan onluq</a></li>
                        <li><a href="@Url.Action("index","About")" class="ColorWhite">Haqqımızda</a></li>
                        @if (Session["user"] != null)
                        {
                            <li><a href="@Url.Action("index","Qaynaq")" class="DarkTangerine">QAYNAQ GÖNDƏRİN</a></li>
                        }
                        else
                        {
                            <li><a class="DarkTangerine whitout_url">QAYNAQ GÖNDƏRİN</a></li>
                        }
                        
                        <li><a href="@Url.Action("index","registration")" class="DarkTangerine">QEYDİYYAT</a></li>


                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <form class="navbar-form navbar-left form-nav">
                                <div class="input-group">
                                    <div class="row">
                                        <button type="button" class="btn btn-default btn-search-nav" data-toggle="modal" id="searchclcbtn" data-target=".bs-example-modal-lg">
                                            <i class="fa fa-search" aria-hidden="true"></i>
                                        </button>
                                        <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
                                            <div class="modal-dialog modal-lg">
                                                <div class="modal-content">
                                                    <div id="custom-search-input">
                                                        <div class="input-group col-md-12">
                                                            <input id="search" type="text" class="form-control input-lg" placeholder="Search" />
                                                            <span class="input-group-btn">
                                                                <button class="btn btn-info btn-lg" type="button">
                                                                    <i class="fa fa-search"></i>
                                                                </button>
                                                            </span>
                                                        </div>
                                                        <ul class="list-group" id="srcfromdata"></ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </li>
                    </ul>

                </div>
            </div>
        </nav>
    </header>
    @RenderBody()
    <!--Footer-->
    <footer>
        <div class="row">
            <div class="col-md-12">
                <div class="container">
                    <div class="row">
                        <div class="col-md-10">
                            <!--Copyright-->
                            <div class="copyright">
                                <p><span class="cop">© 2017</span> Polad & Kamran</p>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <!--footer social-->
                            <div class="social">
                                <ul>
                                    <li><a href="#"><i class="fa fa-facebook-square" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter-square" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fa fa-google-plus-square" aria-hidden="true"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- btn scroll top -->
    <a href="#" class="scroll-top"></a>
    <!--end-->
    <!-- Scripts -->
    
    <!--owl carousel js-->
    <script src="http://code.jquery.com/jquery-3.2.1.js"></script>

    <script src="~/Content/js/owl.carousel.min.js"></script>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> 
    <script src="~/Public/main.js"></script>
    <script src="~/Content/js/main.js"></script>
    
    <script src="~/Content/js/picker.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-form-validator/2.3.26/jquery.form-validator.min.js"></script>

</body>

</html>
